*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  background: radial-gradient(#e57 25%, #f50 100%);
  display: grid;
  place-items: center;
}
.wrapper {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
}
header .arrow {
  background-color: blueviolet;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  transition: 0.3s;
}
header.open .arrow {
  transform: rotate(180deg);
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  border-radius: 12px;
  padding: 0px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
header.open ~ ul {
  padding: 15px;
  height: 220px;
  overflow: visible;
}
ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
